
/*****-------*****/
/*****overlay*****/
/*****-------*****/

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.8s;
  text-align: center;
}

.overlay-content {
  position:relative
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 50px;
  text-align: center;
  color: #818181;
  display: block;
  transition: 0.8s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/*****-------*****/
/*****general*****/
/*****-------*****/
body {
margin: 0px;
padding: 0px;
background-position: 5px 30px;
font-size: 90%;
color:#575757;

}

.main a {
color: #6D96B8;
text-decoration: none;
}

div{
  font-family:Arial, Helvetica, sans-serif;
}

p , li{
  font-size: 1.2em;
  color: #878787;
}

h1 {
left: 110px;
top: 10px;
font-size: 60px;
color: silver;
font-family: 'Varela Round', sans-serif;
}


.main {
clear: left;
position: relative;
top: -200px;
left: 400px;
width: 60%;
}


img{
  position:relative;
}

#page1{
  height:600px;
}

#page2{
  height:1000px;
}

#page3{
  height: 1000px;
}

.page-content{
     width: 700px;
   margin: 10px auto 5px 10px;
    font-weight: 300;
    color: #878787;
    font-size: 1.2em;
    /*text-align: center;*/
}

.title {
  position:relative;
  width: 100%;
  float:left;
}
/*****-------*****/
/**top navigation**/
/*****-------*****/
.topNav {
position: relative;
right: 5%;
top: 20px;
font-size: 90%;
color: silver;
text-align: right;
}

/*****-------*****/
/****footer*******/
/*****-------*****/

.footer {
position: relative;
top: 10px;
margin: 20px;
}

.footer a {
color: silver;
text-decoration: none;
}

.footer a:hover {
text-decoration: underline;
}

/*****-------*****/
/****third page****/
/*****-------*****/
#page3.project-img{
  position:absolute;
  float:left;
 
  top:20px;
}

#page3 p{
  right:-200px;
  top:-120px;
  word-wrap: break-word; 
  width: 500px;
  position:relative;
}

/*****-------*****/
/****side nav*****/
/*****-------*****/
nav {
    width:300px;
    padding:0 50px;
}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
}
a.nav-active {
    color:#ccc;
}


nav li{
list-style-type: none;
list-style-image: none;
margin: 0px;
padding: 0px;
line-height: 1.9em;
 z-index:-1;
  font-family: 'Varela Round', sans-serif;
}

nav ul {
margin: 0px;
padding: 0px;
  
}


nav li a{
color: silver;
font-size: 250%;
text-decoration: none;
padding: 0px;
font-weight: bold;
}

nav li a:hover {
padding: 10px;
color:black;
}
